.App {
  font-family: sans-serif;
  text-align: center;
}
div {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
img {
  height: 50%;
  width: 25%;
}
.html {
  height: 40%;
}
